name: Test PR
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  test:
    name: Test Swift Changes
    runs-on: macos-15
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Swift
        run: cd swift && swift build

      - name: Run tests
        run: cd swift && swift test
